<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Tournament</title>
</head>
<body>
<div class="container">
    <h1>Available Tournaments</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tournament : ${tournaments}">
            <td th:text="${tournament.tournamentName}"></td>
            <td th:text="${tournament.tournamentLocation}"></td>
            <td>
                <form th:action="@{/register-tournament}" method="post">
                    <input type="hidden" th:value="${tournament.id}" name="tournamentId">
                    <button type="submit">Register</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
