<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>

</head>
<body>
<div class="container">
    <h1>Welcome to Your Player Page, <span th:text="${user.name}"></span></h1>
    <div class="nav-buttons">
        <a href="../../login" class="button logout-btn">Logout</a><br>
        <a href="/update-account" class="button">Update Account</a><br>
        <a href="/register-tournament" class="button">Register Tournament</a><br>
        <a href="/view-schedule-player" class="button">View Schedule Matches</a><br>
    </div>
</div>
</body>
</html>